@model IEnumerable<BukaDiri_nf.Models.Home>
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-pills justify-content-end mb-2">
    <li class="nav-item">
        <a class="nav-link active" href="/Home/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/Index">Settings</a>
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead>
        <th>Nama Item</th>
        <th>Harga Item</th>
        <th>Nama Provinsi</th>
        <th>Nama Pilihan</th>
        <th>Nama Lapak</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item.namaItem</td>
                <td>@item.Item.hargaItem</td>
                <td>@item.Provinsi.namaProvinsi</td>
                <td>@item.Pilihan.namaPilihan</td>
                <td>@item.Lapak.namaLapak</td>
            </tr>
        }
    </tbody>
</table>


