@{
    ViewBag.Title = "Tambah";
}

<div class="text-center">
    <h2>Tambah Data Item</h2>
    <hr />
</div>
<form action="/Item/Simpan" method="post">
    <table class="table" style="width: 50%">
        <tr>
            <td>Kode Item</td>
            <td><input type="text" name="kodeItem" class="form-control" /></td>
        </tr>
        <tr>
            <td>Nama Item</td>
            <td><input type="text" name="namaItem" class="form-control" /></td>
        </tr>
        <tr>
            <td>Harga Item</td>
            <td><input type="text" name="hargaItem" class="form-control" /></td>
        </tr>
        <tr>
            <td>Nama Provinsi</td>
            <td>
                <select name="kodeProvinsi">
                    <option value="">-Pilih Provinsi-</option>
                    @foreach (var item in ViewData["Provinsi"] as List<BukaDiri_nf.Models.Provinsi>)
                    { 
                        <option value="@item.kodeProvinsi">@item.namaProvinsi</option>
                    }
                </select> 
            </td>
        </tr>
        <tr>
            <td>Nama Pilihan</td>
            <td>
                <select name="kodePilihan">
                    <option value="">-Pilih Pilihan-</option>
                    @foreach (var item in ViewData["Pilihan"] as List<BukaDiri_nf.Models.Pilihan>)
                    {
                        <option value="@item.kodePilihan">@item.namaPilihan</option>
                    }
                </select> 
            </td>
        </tr>
        <tr>
            <td>Nama Lapak</td>
            <td>
                <select name="kodeLapak">
                    <option value="">-Pilih Lapak-</option>
                    @foreach (var item in ViewData["Lapak"] as List<BukaDiri_nf.Models.Lapak>)
                    {
                        <option value="@item.kodeLapak">@item.namaLapak</option>
                    }
                </select> 
            </td>
        </tr>
        <tr style="text-align: right;">
            <td colspan="2">
                <a href="/Item/Index" class="btn btn-primary">Data Item</a>
                <button type="reset" class="btn btn-secondary">Kosongkan</button>
                <button type="submit" class="btn btn-primary">Kirim</button>
            </td>
        </tr>
    </table>
</form>

